.b_grid {
  display: flex;
  flex-direction: column;
}

.b_row {
  display: flex;
  flex-direction: row;
  padding: 3px;
  border-bottom: 1px solid #000000;
}

.b_row_editable {
  background: white;
}

.b_row_readonly {
  /* height: 48px; */
}

.b_column {
  width: auto;
  padding: 0 2px;
  overflow: hidden;
  justify-content: flex-start;
  display: flex;
  order: 2;
}

.b_column_controls {
  display: flex;
  align-items: center;
}

.b_fancy {
  flex-direction: row;
  flex-wrap: wrap;
}

.b_fancy > .b_row {
  margin: 5px;
  width: 238px; /* 30%; */
  height: 275px;
  flex-direction: column;
  flex-flow: wrap;
  border-radius: 5px;
  border: 1px solid #dedede;
  box-shadow: 2px 2px 13px 2px #d0d0d0;
}

.b_fancy > .b_row > .b_column_controls {
  order: 1;
  margin-left: auto;
}