.settings_content {
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  min-height: 400px;
}

.settings_content_part {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.settings_content_part_col {
  width: 48%;
}

.settings_content_part_col > * {
  height: 42px;
}

.settings_content_controls {
  align-self: flex-end;
  margin-top: auto;
}